// BACKGROUNDS
$bg-standard: #ffffff;
$bg-footer: #31312f;
$bg-footer-bottom: #1e1e1e;

// BUTTONS
$bg-button-standard: #fed23f;
$bg-button-secondary: #6b6868;
$bg-button-footer: #000000;

// TEXT
$text-color: #6b6868;
$text-color-light: #bcbcbc;
$text-color-title: #ffffff;
$text-color-alternative: #fed23f; 
$label-text: #68be7e;

// MIXINS

@import './mixins';